<div id="banner-fade">
    <ul class="bjqs">
  <li><%= image_tag("accodmation/Picture1.jpg",:alt=>"Overflow: Hidden No More") %></li>
  <li><%= image_tag("accodmation/Picture2.jpg",:alt=>"Overflow: Hidden No More")%></li>
  <li><%= image_tag("accodmation/Picture3.jpg",:alt=>"Overflow: Hidden No More") %></li>
 
 </ul>

 
 <script class="secret-source">
        jQuery(document).ready(function($) {

          $('#banner-fade').bjqs({
            height      : 450,
            width       : 900,
            responsive  : true
          });

        });
      </script>
  </div>    

<p>Your home for the duration of the trail will be a Colonial bungalow accommodation in a plantation. This planter’s bungalow on a hill was built over 75 years ago. The bungalow has only five bedrooms. Relax in immense four-poster beds, crisp white sheets decorated in unique style, ranging from neo-colonial to classic English.  Two Heritage rooms open into a sit-out which walks out into a small garden with a spread of lawn. You have a panoramic view of the plantation and the forest from your Heritage room. The bungalow serves planters’ cuisine.  Wi-Fi is available. The bungalow is a perfect place for quiet relaxation and catch up with fiction, non-fiction or light reading. Your Heritage room will be equipped with select Hollywood movies and Natural History programmes. Heritage with a contemporary style and non-hotel, private house ambiance is the hallmark of the accommodation.
 </p>
